{% extends 'base.html' %}
{% load static %}
{% block title %}
LaBoum - Detail
{% endblock title %}

{% block link %}
  <link rel="stylesheet" href="{% static 'movies/detail.css' %}">
{% endblock link %}

{% block content %}
<br>

<div class="box1"style="background-image:url({{movie.poster_path}});" id="bgimg">
  <br>
  <div class="plz">
    <div class="row" id="top">
      <b><h1 class='m-title' style=" color:white; text-align:center; margin-top:20px;"> {{ movie.title }}</h1></b>
      <br><hr style="margin-top:20px; margin-bottom:20px;">
        <div class="col-4" style="margin-top:50px;">
          <img src="{{movie.poster_path}}" alt="img" style="width: 80%;">
        </div>
        <div class='col-8'>
          <div class="row">
            <div class="col-5" >
              <br>
              <p style="color:yellow; font-size:25px; padding-right:0;"> 평점: {{movie.vote_average}}</p>
                <p style='color:rgb(3, 248, 114);font-size:25px; margin-right:30px;'> 장르:
                {% for genre in genres  %}
                  {{genre.name}}
                {% endfor %}</p>
                <p style='color:rgb(3, 248, 114);font-size:25px; '> 개봉일: {{movie.release_date}}</p>
            </div>
            <div class="col-7 justify-content-center align-items-center" style="height: 300px;">
              <iframe src='http://www.youtube.com/embed/{{videoId}}' frameborder="0" width="520" height="300"></iframe>
            <br><br>
            </div>
              <h3 style="color:white;">줄거리</h3>  <hr>
              <p style="font-size:22px; line-height:1.4;"> {{ movie.overview|linebreaksbr }}</p>
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}

