{% extends 'base.html' %}
{% load static %}
{% block title %}
LA BOUM - Detail
{% endblock title %}

{% block link %}
  <link rel="stylesheet" href="{% static 'movies/detail.css' %}">
{% endblock link %}

{% block content %}
<br>
<br>
<div class="container-fulid d-flex" style="margin-left:200px;margin-right:200px;">
  <div class="row">
    <div class="col-4">
      <img src="{{movie.poster_path}}" alt="img" style="width: 100%;">
    </div>
    <div class='col-8'>
      <h1 class='m-title' style="color:crimson;text-align:center"> {{ movie.title }}</h1>
      <br>
      <p style='color:rgb(3, 248, 114);font-size:25px'> 개봉일: {{movie.release_date}}
      <p style='color:rgb(3, 248, 114);font-size:25px'> 장르:
      {% for genre in genres  %}
        {{genre.name}}
      {% endfor %}</p>

      <p style="color:yellow; font-size:20px"> 평점: {{movie.vote_average}}</p>
      <p style="font-size:20px;"> {{ movie.overview|linebreaksbr }}</p>
    </div>
  </div>
</div>
{% endblock %}
