{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bgimg container d-flex">
  <div class="row">
    <div class="col-3">
      <img src="{{movie.poster_path}}" alt="img" style="width: 100%;">
    </div>
    <div class='col-9 align-'>
      <h1 class='m-title'> {{ movie.title }}</h1>
      <p> 개봉일: {{movie.release_date}}     |    
       장르: 
      {% for genre in genres  %}
        {{genre.name}}
      {% endfor %}</p>
      <p> 평점: {{movie.vote_average}}</p>
      <p> 줄거리: {{movie.overview}}</p>
    </div>
  </div>
</div>
{% endblock %}
