{% extends 'base.html' %}
{% load static %}

{% block title %}
LA BOUM - Genre
{% endblock title %}

{% block link %}
  <link rel="stylesheet" href="{% static 'movies/genre_card.css' %}">
  <link rel="stylesheet" href="{% static 'movies/index.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
{% endblock link %}
{% block title %}
LaBoum - Genre
{% endblock title %}

{% block content %}
<br>
<br>
<br>
<div class="container-fluid" style="background:black">
    <div style="text-align:center">
       <p class="neon neon-s" style='color:white;font-size:2.5rem;'>
      {% for genre in selectedgenres  %}
        {{genre.name}}
      {% endfor %}</p>
      <br>
     
    </div>
    <div>
      <div style="text-align:center">
        <span style="color:yellow;font-size:30px"> {{movie.ost}}</span> 
        <audio autoplay controls loop id="audio-player">
        <source src='{% get_static_prefix %}movies/audio/{{ movie.ost }}.mp3' type="audio/mp3">
        </audio> 
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="swiper mySwiper" style="background:black">
    <div class="swiper-wrapper" >

    {% for movie in movies %}
      <div class="swiper-slide" style="background:black">
        <div class="container">
          <div class='card rgb' style="border:0;border-radius:0;">
            <div class='card_left' style="border-radius:0;">
              <img src="{{movie.poster_path}}" style="border-radius:0;">
            </div>
            <div class='card_right overflow-hidden' style="border-radius:0;">
              <h1 style="color:crimson;">{{movie.title}}</h1>
              <div class='card_right__details'>
                <ul>
                  <li>{% for genre in movie.genres.filter %}장르: {{genre.name}} {% endfor %}</li>
                  <li>상영시간: {{ movie.running_time}}분</li>
                  <li>평점: {{ movie.grade }}점</li>
                </ul>
                <span style="display:inline-block;padding-left:40px; margin-bottom:0; font-size:18px; color:rgb(76, 240, 112);"> 개봉일: {{ movie.release_date }}</span>
                <span><a href="{% url 'movies:detail2' movie.pk %}" style="font-size:18px;color:#ffda00;">       자세히 보러가기</a></span>
                <div class="card_right__review">
                  <p>{{ movie.overview }}</p>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    {% endfor %}
    {% for movie in second_movies %}
      <div class="swiper-slide" style="background:black">
        <div class="container">
          <div class='card rgb'  style="border:0;border-radius:0;">
            <div class='card_left' style="border-radius:0;">
              <img src="{{movie.poster_path}}" style="border-radius:0;">
            </div>
            <div class='card_right overflow-hidden' style="border-radius:0;">
              <h1 style="color:crimson;">{{movie.title}}</h1>
      
              <div class='card_right__details'>
                <ul>
                <br>
                  <li>{% for genre in movie.genres.filter %}{{genre.name}} {% endfor %}</li>
                  <li>평점: {{ movie.vote_average }}점</li>
                </ul>
                <span style="display:inline-block;padding-left:40px; margin-bottom:0; font-size:18px; color:rgb(76, 240, 112);"> 개봉일: {{ movie.release_date }}</span>
                <span><a href="{% url 'movies:detail' movie.pk %}" style="font-size:18px;color:#ffda00;">       자세히 보러가기</a></span>
                <div class="card_right__review">
                  <p>{{ movie.overview }}</p>
                </div>
              </div>
            </div>
            </div>
        </div>
        </div>
    {% endfor %} 

    </div>
  </div> 
 
{% endblock %}


{% block script %}

<script>
    const audio = document.querySelector("#audio-player");
    console.log(audio)
    audio.volume = 0.2;
</script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween : 30,
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "3",
        coverflowEffect: {
          rotate: 90,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        loop: true,
      });

    </script>

{% endblock %}