{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
  <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <span id="ost"> Best OST of This Month: Squid Game(Pink Soldiers) </span>
              <audio controls loop id="audio-player">
              <source src={% static 'movies/audio/Pink Soldiers.mp3' %} type="audio/mp3">
              </audio>
              <img src="{% static 'movies/Squidgame.jpg' %}" class="d-block w-100" alt="Laboum_logo_img">
              <button class="btn btn-danger" id='img-button'>스릴러 영화보러가기</button>
            </div>
            <div class="carousel-item">
              <span id="ost">색상별 장르 추천받기</span>
              <a href="{% url 'movies:color' %}">
              <img src="{% static 'movies/color.jpg' %}" class="d-block w-100" alt="Laboum_logo_img">
              </a>
            </div>
            <div class="carousel-item">
              <img src="{% static 'movies/laboum_img_.jpg' %}" class="d-block w-100" alt="Laboum_logo_img">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
</header>

<br>
<br>
<br>
<div class="container">
  <p id='ost'>장르별 추천 OST</p>
  <br>

    <div class="movie-list">
      {% for movie in movies %}
        <div class="movie">
            <h4 style="color:rgb(241, 11, 88)">{{ movie.title }}</h4>
              <img src="{{movie.poster_path}}" alt="img" id="poster">
              <span style="color:rgb(3, 248, 114); font-size:27px;"> 장르: {% for genre in movie.genres.filter %}
                  {{genre.name}}
               {% endfor %}  </span>
              <br>
            <span style="color:yellow; font-size:25px;">{{ movie.ost }}</span>    
            <audio controls loop id="audio-player">
            <source src='{% get_static_prefix %}movies/audio/{{ movie.ost }}.mp3' type="audio/mp3">
            </audio> 
            <br>
            <p>{{ movie.overview }}</p>
            <a href="{% url 'movies:detail2' movie.pk %}" class="text-decoration-none;"style="font-size:20px;">{{movie.title}} 자세히 보러가기</a>
            
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script>

  const audio = document.getElementById("audio-player");
  audio.volume = 0.2;
  
  let pageNum = 2
  document.addEventListener('scroll', (event) => {
    console.log(event)
    const {scrollHeight, scrollTop, clientHeight} = document.documentElement
    // console.log(scrollHeight, scrollTop, clientHeight)
    if (scrollHeight - Math.round(scrollTop) === clientHeight) {
      axios({
        method: 'get',
        url: `/movies/?page=${pageNum}`,
        headers: {'x-requested-with': 'XMLHttpRequest'}
      })
        .then((res) => {
          const movies = res.data
          
          movies.forEach((movie) => {
            const movieList = document.querySelector('.movie-list')
            const movieDiv = document.createElement('div')

            const movieHTML = `
              <h3>${ movie.fields.title }</h3>
              <p>${ movie.fields.overview }</p>
              <a href="movies/${ movie.pk }/">[detail]</a>
              <hr>
            `
            movieDiv.innerHTML = movieHTML
            movieList.appendChild(movieDiv)
          })
          pageNum += 1
        })
    }
  })

</script>
{% endblock %}
