{% extends 'base.html' %}
{% load static %}

{% block title %}
LA BOUM
{% endblock title %}

{% block link %}
  <link rel="stylesheet" href="{% static 'movies/index.css' %}">
  <link rel="stylesheet" href="{% static 'movies/index_card.css' %}">
{% endblock link %}

{% block content %}
<br>
<br>

   <div class="container-fluid" >
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="width:100%; text-align:center;">
              <div class="caro1">
                <span style="font-size:40px; color:yellow;font-weight:700;"> 이 달의 OST: Squid Game(Pink Soldiers) </span>
                <audio controls loop onloadstart="this.volume=0.2" id="audio-player">
                <source src={% static 'movies/audio/Pink Soldiers.mp3' %} type="audio/mp3">
                </audio>
              </div>
              <img src="{% static 'movies/Squidgame.jpg' %}" alt="Laboum_logo_img" style="width:70%; height:70%;">
              <button class="btn btn-danger" id='img-button' type="button" onclick="location.href='http://127.0.0.1:8000/movies/30/genre_recommend'">
              스릴러 영화보러가기</button>
            </div>
            <div class="carousel-item" style="text-align:center; height:738.3px;">
              <div class="caro2">
                <p id="ost"> 당신의 현재 기분을 Color로 표현하세요.</p>
                <p id="ost"> 당신의 기분에 맞는 영화를 추천해드립니다!</p>
                <button class="ghost" style="text-align:center;" onclick="location.href='{% url 'movies:color' %}'">Color 고르기</button>
              </div>
              <img src="{% static 'movies/color3.png' %}" alt="Laboum_logo_img" style="width:70%; height:100%;">
            </div>
            <div class="carousel-item" style="text-align:center; height:738.3px;">
              <div class="caro5">
                <p id="ost" style="color:yellow;"> OST를 듣고 영화를 추천받으세요!! ↓↓↓ OST 영화관 ↓↓↓</p>
              </div>
              <img src="{% static 'movies/music4.jpg' %}" alt="Laboum_logo_img" class="caro3" style="width:70%; height:100%;">
            </div>
            <div class="carousel-item" style="text-align:center; height:738.3px;">
              <div class="caro4">
                <p id="ost" style="margin-bottom:30px;"> 영화 감상평과 별점을 남겨주세요.</p>
                <p id="ost"> 당신의 소중한 의견이 영화를 만듭니다.</p>
                <button class="ghost" style="text-align:center;" onclick="location.href='{% url 'community:create' %}'">리뷰 작성하러가기</button>
              </div>
              <img src="{% static 'movies/music5.jpg' %}" alt="Laboum_logo_img" class="caro3" style="width:70%; height:100%;">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <br><br><hr> 
        <img src="{% static 'movies/red.png'%}" alt="img" id="red">
        <div class="theater" style="display:inline-block; text-align:center">
          <img src="{% static 'movies/rabbit_02.png' %}" alt="img">
          <p style="font-size:100px; margin-bottom:70px;">OST 영화관</p>
          <p style="font-size:40px;">ost를 듣고, 장르별 영화를 확인하세요!</p>
          <span style="font-size:20px; color:yellow;"> ( 영화 또는 장르 선택 ) </span>
        </div>
   </div>


<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-4 g-0" style="margin-left:70px;" id="card-container">
      {% for movie in movies %}
        <div>
         <div class="cellphone-container overflow-auto row">
            <div class="cmovie overflow-hidden rgb">
              <div class="movie-img">
               <a href="{% url 'movies:detail2' movie.pk %}"><img class="movie-img" src="{{movie.poster_path}}" alt="img"></a></div>
              <div class="text-movie-cont overflow-hidden" style="height:277px;">
                <div class="mr-grid">
                  <div class="col1" style="margin-top:6px;">
                    <h1 class="title">
                    <a href="{% url 'movies:detail2' movie.pk %}" style="color:crimson">{{movie.title}}</a></h1>
                    <ul class="movie-gen">
                      <li>{% for genre in movie.genres.filter %}
                        <a href="{% url 'movies:genre_recommend' movie.pk%}" id="genre_link">{{genre.name}}</a> /  {% endfor %}</li>
                      <li>{{movie.running_time}}분  /</li>
                      <li>{{movie.grade}}점 </li>
                    </ul>
                  </div>
                </div>
                <div class="mr-grid">
                  <div class="col1">
                    <span class="movie-ost">{{ movie.ost }}</span>
                    <audio controls loop onloadstart="this.volume=0.2" id="audio-player" style="margin-top:8px;">
                        <source src='{% get_static_prefix %}movies/audio/{{ movie.ost }}.mp3' type="audio/mp3">
                    </audio> 
                  </div>
                </div>
                <div class="mr-grid">
                  <div class="col1" >
                    <p class="movie-description" style="display:inline-block; margin-top:10px;">{{movie.overview}}</p>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>



{% endblock %}

{% block script %}

<script>
  const audio = document.querySelectorAll('#audio-player');
  for(var i=0; i<audio.length;i++){
     var item = audio[i];
     item.volume = 0.2; 
  }

  let pageNum = 2
  document.addEventListener('scroll', (event) => {
    console.log(event)
    const {scrollHeight, scrollTop, clientHeight} = document.documentElement
    // console.log(scrollHeight, scrollTop, clientHeight)
    if (scrollHeight - Math.round(scrollTop) === clientHeight) {
      axios({
        method: 'get',
        url: /movies/?page=${pageNum},
        headers: {'x-requested-with': 'XMLHttpRequest'}
      })
        .then((res) => {
          const movies = res.data

          movies.forEach((movie) => {
            const movieList = document.querySelector('.movie-list')
            const movieDiv = document.createElement('div')

        const movieHTML = `
          <h3>${ movie.fields.title }</h3>
          <p>${ movie.fields.overview }</p>
          <a href="movies/${ movie.pk }/">[detail]</a>
          <hr>
        `
        movieDiv.innerHTML = movieHTML
        movieList.appendChild(movieDiv)
      })
      pageNum += 1
    })
}
  })

</script>
{% endblock %}

