{% extends 'base.html' %}

{% block content %}
  <h1>Random</h1>

  <div id="app">
  <button @click="getrandomMovie">Random</button>
    
    <ul>
        <li v-for="movie in randomMovies" :key="movie.randommovie_pk">
            <h2>[[ movie.title ]] </h2> 
                <p>[[ movie.overview ]] </p> 
        <hr>
        </li>
        <br>
    </ul>
    <div >
       
    </div>

  </div>
    <a href="{% url 'movies:index' %}">Back</a>

    <!-- vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Lodash-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const app = new Vue ({
            delimiters: ["[[", "]]"],
            el: '#app',
            data: {
                test: "test",
                movies: [],
                randomMovies: [],
            },
            methods: {
                getMovies: function (){
                    const movieURL =  "http://127.0.0.1:8000/movies/random/"
                    const vm = this
                    axios({
                        method: 'get',
                        url: movieURL,
                        headers: {'x-requested-with': 'XMLHttpRequest'}
                    })
                        .then(response => {
                        vm.movies = response.data
                        console.log("c", response.data)
                        this.randomMovies = _.sampleSize(vm.movies, 10)

                        
                    })
                },
                getrandomMovie: function (){
                    this.randomMovies = _.sampleSize(this.movies, 10)
                    console.log("random",this.randomMovies)
                }
            },
            created: function () {
                this.getMovies()
            }
        })
        
    </script>


{% endblock %}