{% extends 'base.html' %}
{% block title %}
LA BOUM - Top10
{% endblock title %}


{% block content %}
<br>
<br>
<div class="container">
   <div style="text-align:center;">
  <img src="{% static 'movies/Top10.jpg' %}" alt="top10" style="width:200px; height:auto;text-align:center;">
  </div>
  <p style="color:white;font-size:40px;text-align:center;">Rank Top 10</p>
    {% for movie in movies %}
    <br>
      <div style="text-align:center;">
        <h3 style="color:rgb(241, 11, 88)">{{ movie.title }}</h3>
        <p style="font-size:25px; color:yellow;">{% for genre in movie.genres.filter %}
        {{genre.name}}{% endfor %} /  평점: {{movie.grade}} / {{movie.ost}} </p>
        <audio controls loop id="audio-player" style="">
           <source src='{% get_static_prefix %}movies/audio/{{ movie.ost }}.mp3' type="audio/mp3">
        </audio>
        <div style="text-align:center;">
          <img src="{{movie.poster_path}}" alt="img" style="width:auto;height:450px; margin-top:10px;">
        </div>
          <a href="{% url 'movies:detail2' movie.pk %}" style="font-size:20px">{{movie.title}} 자세히 보러가기</a>
        <br>
        <br>
        <hr>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>

  const audio = document.querySelectorAll('#audio-player');
  for( var i=0; i<audio.length;i++){
     var item = audio[i];
     item.volume = 0.2; 
  }

</script>
{% endblock %}

