{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
LaBoum - Community
{% endblock title %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'community/create.css' %}">
  <link rel="stylesheet" href="{% static 'community/index.css' %}">
{% endblock link %}

{% block content %}
<br>
  <h1 class="text-center neon neon-s" style="color:white;">영화 리뷰 작성하기</h1>
  <br>
  <div classs="container">
    <form action="" method="POST" class="container">
      {% csrf_token %}
      {% bootstrap_form form %}
    
      <br>
          <button type="submit" class="button-64 btn-m1" role="button"><span class="text">저장하기</span></button>
    </form> 
          <a href="{% url 'community:index' %}" class="text-decoration-none">
            <button class="button-64 btn-m2 text-decoration-none" role="button"><span class="text-decoration-none">돌아가기</span></button>
          </a>
  </div>
{% endblock %}