{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
LaBoum - Community
{% endblock title %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'community/create.css' %}">
  <link rel="stylesheet" href="{% static 'community/index.css' %}">
{% endblock link %}

{% block content %}
<br>
  <h1 class="text-center neon neon-s" style="color:white;">영화 리뷰 작성하기</h1>
  <br>
  <div classs="container">
    <form action="" method="POST" class="container">
      {% csrf_token %}
      {% bootstrap_form form %}
    
      <!-- 오류표시 Start -->
      {% if form.errors %}
        <div class="alert alert-danger" role="alert"> 
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
    
      {% endif %}
      <!-- 오류표시 End -->
      {% comment %} <div class="form-group">
          <label for="subject">영화 리뷰 제목</label>
          <input type="text" class="form-control" name="subject" id="subject"
                  value="{{ form.subject.value|default_if_none:'' }}">
      </div>
          <div class="form-group">
          <label for="subject">영화명</label>
          <input type="text" class="form-control" name="subject" id="subject"
                  value="{{ form.subject.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
          <label for="content">리뷰 작성</label>
          <textarea class="form-control" name="content"
                    id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
      </div>{% endcomment %}
      <br>
          <button type="submit" class="button-64 btn-m1" role="button"><span class="text">저장하기</span></button>
    </form> 
          <a href="{% url 'community:index' %}" class="text-decoration-none">
            <button class="button-64 btn-m2 text-decoration-none" role="button"><span class="text-decoration-none">돌아가기</span></button>
          </a>
  </div>
{% endblock %}