{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
LaBoum - Community
{% endblock title %}
{% block link %}
  <link rel="stylesheet" href="{% static 'community/index.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
{% endblock link %}

{% block content %}
<br>
<div class="container">
  <h1 class="text-center neon neon-s" style="color:white;">영화 리뷰 게시판</h1>
  <a href="{% url 'community:create' %} " class="text-decoration-none neon-black neon-s float-right">리뷰 작성하기</a>
<br>
</div>
<br>
  <div class="container text-center" style="border-radius: 20px;">
  {% for review in page_obj %}
  <div class="rgyPostIt">
    <p style="font-size: 22px; font-weight:800; color:black; margin-bottom:10px;"> {{review.movie_title}} </p>
    <span><a href="{% url 'community:detail' review.pk %}" style="font-size: 17px; font-weight:600; color:black;">제목: {{ review.title }} [{{ review.comment_set.all|length }}]</a></span>
    <span style="color:crimson;font-size: 20px;"> {{ review.get_rank_display }}</span><br>
    <span style="font-size: 13px; color:black;">작성자: {{ review.user }}  작성시간: {{review.created_at}}</span>
    <a href="{% url 'community:detail' review.pk %}" class="text-decoration-none neon-black2 " style="font-size:18px;">자세히 보러가기</a>
     
     <br>
     <form class="like-form" data-id="{{ review.pk }}" id="heart">
      {% csrf_token %}
      {% if user in review.like_users.all %}
        <button class="btn-link">
          <i id="like-{{ review.pk }}" class="fas fa-heart" style="color:crimson"></i>
        </button> 
      {% else %}
        <button class="btn-link" >
          <i id="like-{{ review.pk }}" class="fas fa-heart" style="color:black"></i>
        </button> 
      {% endif %}
    </form> 
    <p style="color:black;">
      <span id="like-count-{{ review.pk }}" style="color:black;">
      {{ review.like_users.all|length }}
      </span> 명이 이 글을 좋아합니다.
    </p>
  </div>  
  {% endfor %}
</div>
<br>
  <div class="d-flex justify-content-center" >
        {% bootstrap_pagination page_obj %}
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    const forms = document.querySelectorAll('.like-form')
    forms.forEach (form => {
      form.addEventListener('submit', function (event){
        event.preventDefault()

        const reviewId = event.target.dataset.id

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        axios.post(`http://127.0.0.1:8000/community/${reviewId}/like/`, {}, {
          headers:{'X-CSRFToken': csrftoken}
        })

        .then(function(response){
          // console.log(response)
          const {count, liked} = response.data

          // 좋아요 버튼 찾아오고, 색 변경하기 
          const likeColor = document.querySelector(`#like-${reviewId}`)
          if (liked) {
            likeColor.style.color = 'crimson'
          } else{
            likeColor.style.color = 'black'
          }
          // 좋아요 count
          const likeCount = document.querySelector(`#like-count-${ reviewId }`)
          likeCount.innerText = count
        })
        
        // 로그인 안한 사용자 거르기 
        .catch((err) => {
          if (err.response.status === 401) {
            window.location.href = '/accounts/login/'
          }
        })
      })
    })
  </script>
{% endblock %}
