.css-main {
  content: "";
position: fixed;
top: 0px;
left: 0px;
z-index: 0;
background: url(https://mblogthumb-phinf.pstatic.net/MjAxOTA0MDVfMTYx/MDAxNTU0NDc1NzAzOTY0.1MdrSDAe44nBkBbZQnPqUV2MEesPwNjDxXzxOc-wrsgg.TeOZlwqvCChla-n6dpX7sIJko9y2rgUsES_I0fh6t1Ig.JPEG.o2lucent/00501744_20170811.JPG.jpg?type=w800) center center / cover no-repeat;
width: 100%;
height: 100%;
opacity: 1;
transition: opacity 500ms ease 0s;
}

.css-login {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 300px;
  color:white
}
