/* body {
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMDA1MjhfMTk1/MDAxNTkwNjYwMjQzMjk1.ByRcKc6QkXWb_zK7LWc-Akehe-HXwA_jZ3GpMtwcVNcg.Og9DNPolBtu0DGQZRe8dW-2U0yRcHwYPkP9oUMOKHg0g.PNG.sy960727/image.png?type=w800');
  background-color: black;
} */


* {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1.5rem;
}


.item-bg {
height: 100%;
background-image: url(../img/laboum_img_.jpg);
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;
display: flex;
position: relative;
z-index: 1;
flex-direction: column;
/* -webkit-box-pack: center; */
justify-content: center;
/* -webkit-box-align: center; */
align-items: center;
overflow: hidden;
}

.css-user {
background-color: black;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 20px;
width: 40%;
height: auto;
padding: 40px;
z-index: 1;

}


h1 {
text-align: center;
}


input {
  border-radius: 20px;
}